.div1 {
    grid-area: 1;
    background-color: #a6faff;
    border: #18786f;
    border-radius: 15px;
    border-width: thin;
}

.div2 {
    grid-area: 2;
    background-color: #a6faff;
    border: #18786f;
    border-radius: 15px;
    border-width: thin;
}

.div3 {
    grid-area: 3;
    background-color: #a6faff;
    border: #18786f;
    border-radius: 15px;
    border-width: thin;
}

.div4 {
    grid-area: 4;
    background-color: #a6faff;
    border: #18786f;
    border-radius: 15px;
    border-width: thin;
}

.mainbody {
    display: grid;
    grid-template-areas: 
    "1 1 1 1"
    "2 2 2 2"
    "3 3 3 3"
    "4 4 4 4";
}