.footer {
    background-color: #000d;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 10px;
}

.footer__subtitle {
    font-size: 28px;
    color: #fff;
}

.footer__list {
    min-width: 100%;
    list-style: none;
    text-decoration: none;
    margin-top: 25px;    
}

.footer__item {
    padding: 1px 8px;
}

.footer__item a {
    text-decoration: none;
    color: #fff;
}

.footer__item-contact {
    text-decoration: none;
}

.footer__item-contact:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
}